{% extends "bizmain_template.html" %}

{% block main %}
<div class="container" >

    <div class="mx-autocontainer align-items-center">
        <div class="row">오시는 길
            <div class="col-6  text-center" style="border:1px solid #ddd; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;">
                <iframe src="http://wooripage.co.kr/__naver.map.php?lat=37.4825548&amp;lng=126.8970407&amp;height=500&amp;msg=Click-tech company" style="width:100%; min-height:480px;" scrolling="no" frameborder="0"></iframe>
            </div>
            <div class="col-4">
                <div>도로명 주소 : 서울 구로구 디지털로26길 111 303호</div>
                <div>구로디지털단지역 2번 출구에서 562m</div>

            </div>
        </div>
    </div>
    <div>
        <div class="mb-2">고객 상담 번호 | 1688-1688</div>
        <div class="mb-2">사업 문의 | example@example.com</div>

    </div>


</div>

{% endblock main %}