{% extends "managermain_template.html"%}

{% block title%}
관리자 페이지입니다. FAQ 관리/생성
{% endblock title%}


{% block main %}
<form action="/manager/notice" method="post" class="justify-content-center" >
    <table class="justify-content-center" width="80%">
        <tbody class="text-center" >

            <tr>
                <td>공지사항 제목 : </td>
                <td ><input type="text" 
                    name="notice_title" id=""  width="80%" required></td>
            </tr>
            <tr>
                <td>공지사항 내용 : </td>
                <td><input type="text" name="main_text" id=""  width="80%" required></td>
            </tr>
            <tr>
                <td>날짜 : </td>
                <td><input type="date" name="date" id=""  width="80%" required></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit" class="btn btn-primary">올리기</button></td>

            </tr>
        </tbody>
        
    </table>
</form>


{% endblock main%}