{% extends "usermain_template.html"%}
{% block title%}
쿠폰교환
{% endblock title%}

{% block main %}

<div class="container">
    <!-- 제품 내용 간략 -->
    <div class="mt-5">
        <div>{{gifty.gifty_brand}}</div>
    </div>
    <div class="row">
        <div class="col">
            <img src="{{gifty.gifty_image}}" alt="{{gifty.gifty_name}}">
        </div>
        <div class="col">
            <!-- 쿠폰 내용 -->
            <div class="align-top">
                <h3>{{gifty.gifty_name}}</h3>
                <h2>{{gifty.gifty_price}}</h2>
            </div>
            <!-- 버튼들 / 활성화 필요 -->
            <div class="container row align-bottom">
                <div class="button col-2">공유</div>
                <div class="button col-2">❤</div>
                <!-- 로그인이 되지 않았을 경우 로그인 창으로 가게 하는 것 추가해야함 -->
                <a href="/clicktech/exchange/order/{{gifty.id}}" class="col-8">구매하기</a>
            </div>
        </div>
    </div>

    <!-- 제품 내용 상세보기 -->
    <div class="container">
        <h3 class="fw-bold">상품 상세</h3>
        <div class="">
            <div>{{ gifty.gifty_detail }}</div>
        </div>
        <h3 class="fw-bold">주의사항</h3>
        <div class="">
            <div>{{ gifty.gifty_cautioin }}</div>
        </div>
        <h3 class="fw-bold">이용안내</h3>
        <div class="">
            <ul class="useStep">
                <li>
                    <img src="/images/useStep/1-1.png" alt="">
                    <strong>1. 선물상품 선택</strong>
                    <p>선물하실 상품을 선택하고, 구매하기 버튼을 클릭합니다.</p>
                </li>
                <li>
                    <img src="/images/useStep/1-2.png" alt="">
                    <strong>2. 선물상품 구매</strong>
                    <p>선물 받으실 분의 휴대폰 번호, 상품 수량을 입력 후 결제를 완료합니다.</p>
                </li>
                <li>
                    <img src="/images/useStep/1-3.png" alt="">
                    <strong>3. 기프티쇼 수신</strong>
                    <p>선물 받으실 분에게 기프티쇼가 전송됩니다.</p>
                </li>
                <li>
                    <img src="/images/useStep/1-4.png" alt="">
                    <strong>4. 교환처에서 실물교환</strong>
                    <p>교환처에 방문하여 기프티쇼를 제시하면 실물 상품으로 교환해 드립니다.</p>
                </li>
            </ul>
        </div>
    </div>
</div>


{% endblock main %}