
{% extends "usermain_template.html"%}
{% block title%}
쿠폰구매
{% endblock title%}

{% block main %}

<h1 class="container justify-content-center">선물 결제</h2>

<h2 class="border-bottom">발송정보</h2>
<div class="row-type2 justify-content-start">
    <h4 class="col-1">발송번호</h4>
    <select name="" id="" class="col-4">
        <option value="" selected>내 번호로 보내기</option> <!--고객의 전화번호 변수 안에 넣기-->
        <option value="">클릭테크 대표 번호로 보내기 (010-0000-0000)</option>
    </select>
</div>
<div class="row-type2">
    <h4>보낸 사람</h4>
    <input type="text" value="김하늘"> <!-- 고객 정보 넣기-->
</div>

<!-- 결재정보넣기 -->
<h2 class="border-bottom">결재 정보</h2>
<div class="col-type01 justify-cont">
    <div class="col-7">
        <div class="row-type03">
            <div class="col-2"><img src="{{gifty.gifty_image}}" alt="기프티콘 이미지입니당"></div>
            <div class="col-8">
                <span>{{gifty.gifty_brand}}</span>
                <p>{{gifty.gifty_name}}</p>
            </div>
            <div></div>
            <div class=""><span>{{gifty.gifty_price}}</span></div>
        </div>
        <div class="row-type03">
            <h4>결재수단</h4>
            <ul class="grid-container _tab04">
                <li>신용카드</li>
                <li>휴대폰</li>
                <li>페이코</li>
                <li>삼성페이</li>
                <li>계좌이체</li>
                <li>기타등등등</li>
            </ul>
        </div>
        <div>구매 취소 시, 결제 승인이 취소됩니다.</div>
    </div>
    <div class="col-3">
        
    </div>
</div>




{% endblock main %}