{% extends "managermain_template.html"%}

{% block title%}
Log in : Click-Tech
{% endblock title%}

{% block main %}
<table class="outline">
    <tr>
        <td>
            <h3>로그인</h3>
            <div>
                <table class="inline">
                    <tr>
                        <td>

                            <form>
                                <div>아이디</div>
                                <input type="text" name="user_id" placeholder="아이디를 입력해 주세요." id="user_id">
                                <div>비밀번호</div>
                                <input type="password" name="user_pswd" id="user_pswd" size="70"
                                    placeholder="비밀번호를 입력해 주세요.">
                                <div class="find">
                                    <a href="/clicktech/findid">아이디찾기</a>/ <a href="/clicktech/findpswd">비밀번호찾기</a> ㅣ<a
                                        href="/clicktech/join">회원가입</a>
                                </div>
                                <button type="submit" formaction="/clicktech/login" formmethod="post"
                                    class="login">로그인</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
{% endblock main %}