<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../CSSs/common.css">
    <link rel="stylesheet" href="./terms.css">

</head>

<body>
    <div id="wrap">
        <!-- textarea 사용 시작 -->
        <figure>
            <h2>[필수] 이용약관 동의</h2>
            <!-- readonly => 수정 불가 -->
            <textarea readonly>
    제1조(목적)
    blah blah blah
        </textarea>

            <figcaption>
                <label>
                    이용약관에 동의하십니까?
                    <input type="checkbox" id="agree01">
                    동의함 (필수)
                </label>
            </figcaption>
        </figure>
        <!-- textarea 사용 시작 -->
        <figure>
            <h2>[필수] 이용약관 동의</h2>
            <!-- readonly => 수정 불가 -->
            <textarea readonly>
    제1조(목적)
    blah blah blah
        </textarea>

            <figcaption>
                <label>
                    이용약관에 동의하십니까?
                    <input type="checkbox" id="agree02">
                    동의함 (필수)
                </label>
            </figcaption>
        </figure>
        <!-- textarea 사용 시작 -->
        <figure>
            <h2>[선택] 이용약관 동의</h2>
            <!-- readonly => 수정 불가 -->
            <textarea readonly>
    제1조(목적)
    blah blah blah
        </textarea>

            <figcaption>
                <label>
                    이용약관에 동의하십니까?
                    <input type="checkbox" id="agree03">
                    동의함 (선택)
                </label>
            </figcaption>
        </figure>
        <!-- textarea 사용 시작 -->
        <figure>
            <h2>[선택] 이용약관 동의</h2>
            <!-- readonly => 수정 불가 -->
            <textarea readonly>
    제1조(목적)
    blah blah blah
        </textarea>

            <figcaption>
                <label>
                    이용약관에 동의하십니까?
                    <input type="checkbox" id="agree04">
                    동의함 (선택)
                </label>
            </figcaption>
        </figure>
        </wrap>
    
    <input type="checkbox" name="agree" id="agree05"> 전체 동의(선택 포함)

    

</body>

</html>